<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Flask Bucket List App</title>

    <!-- Local CSS -->
    <link href="../static/home.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Python Flask App del Curso de API Developer con MySQL</h3>
            <nav>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="main">Home</a></li>
                    <li role="presentation"><a href="#">Sign In</a></li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a></li>
                </ul>
            </nav>
        </div>
        <div class="jumbotron">
            <h1>Fascinating Peruvian Tales</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up for Free!</a></p>
        </div>
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>El Alacrán de Fray Gómez</h4>
                <p>En una Lima colonial, Fray Gómez realizó un milagro al convertir un alacrán en una joya preciosa para ayudar a un comerciante en apuros. Este acto de bondad y fe quedó grabado en la memoria popular.</p>
                <h4>La Achirana del Inca</h4>
                <p>Cuenta la leyenda que el Inca ordenó desviar el río para llevar agua a los campos de su amada. La obra fue tan perfecta que aún hoy se admira la ingeniería incaica y la devoción del soberano.</p>
                <h4>El Caballero Carmelo</h4>
                <p>En un pequeño pueblo, un gallo de pelea llamado Carmelo se convirtió en el héroe local al vencer a todos sus oponentes. Su valentía y espíritu indomable fueron celebrados por todos.</p>
            </div>
            <div class="col-lg-6">
                <h4>La Casa de Pilatos</h4>
                <p>En el corazón de Lima, una casa misteriosa albergaba secretos y leyendas. Se decía que en sus muros se escondían tesoros y que sus habitantes eran testigos de eventos sobrenaturales.</p>
                <h4>El Cristo de la Agonía</h4>
                <p>En una iglesia limeña, una imagen de Cristo parecía cobrar vida durante las oraciones de los fieles. Este milagro atrajo a devotos de todas partes, buscando consuelo y esperanza.</p>
                <h4>La Flor de Amancaes</h4>
                <p>En las colinas de Lima, florecía una planta que solo aparecía una vez al año. Los habitantes esperaban con ansias su llegada, pues creían que traía consigo buena fortuna y prosperidad.</p>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; FERCEL 2025</p>
        </footer>
    </div>
</body>
</html>